<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application android:name=".ui.IonLauncherApp">
        <activity
            android:name=".debug.suggestions.DebugSuggestionsActivity"
            android:theme="@style/IonLauncher.Settings"/>
    </application>
</manifest>